.card{
    margin-left: 30px;
    margin-top: 500px;
    margin-right: 400px;
}
.form-group{
    margin-left: 20px;
}
.form-check{
    margin-left: 30px;
}
.butn{
    margin-right: 400px;
}
.imag{
height: ;
